#root {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  font-family: Figtree;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.weather-container {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
  /* background-color: rgb(183, 232, 255); */
  background: rgb(79,199,255);
background: linear-gradient(356deg, rgba(79,199,255,1) 0%, rgba(183,232,255,1) 100%);
  border-radius: 15px;
  margin-top: 2% ;
}

.form-container {
  display: flex;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.location-name {
  margin: 0;
  font-size: 25px;
}

.location-region {
  font-size: 14px;
}

.location-temp {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.location-temp-div {
  display: flex;
  gap: 5px;
}

.location-temp h1 {
  margin: 0;
  font-size: 48px;
}

.location-temp span {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 400;
}

.location-temp p {
  margin: 0;
  font-size: 16px;
}

.three-day-forecast {
  display: flex;
  gap: 5%;
}
