#root {
  margin: 0 auto;
}

.location-container {
  display: flex;
  place-items: baseline;
  gap: 15px;
}

.three-day-forecast {
  display: flex;
  gap: 10%;
}

.forecast-day-details{
  display: flex;
  gap: 15px;
}
